BODY{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 59, 10);
}

H1{
    font-size: 3.5REM;
    color: beige;
}

.choises{
    margin-bottom: 30px;
}
.choises button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 150px;
    background-color: rgb(93, 49, 129);
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.choises button:hover{
    background-color: rgb(93, 49, 300);
}

#playerDisplay, #compDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}

.Error{
    padding: 0;
    margin: 0;
    background-color: rgba(220, 20, 60, 0.103);
}

button{
    background-color: rgb(226, 43, 43);
    border-color: darkgrey;
    border-radius: 150px;
}